[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "KeepIt"]
	path = KeepIt
	url = git@github.com:Fastbyte01/KeepIt.git
